@import '../../../variables';

.sidebarButton {
    display: none;
    min-height: 3px;
    min-width: 1.5rem;
    background-color: var(--color-white-700);
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        display: block;
    }

    &::before {
        content: '';
        min-height: 3px;
        min-width: 1.5rem;
        background-color: var(--color-white-700);
        position: absolute;
        top: 7px;
    }

    &::after {
        content: '';
        min-height: 3px;
        min-width: 1.5rem;
        background-color: var(--color-white-700);
        position: absolute;
        bottom: 7px;
    }
}
