@import '../../variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    border-bottom: 1px solid var(--color-border);
    margin: 0 var(--horizontal-spacer);

    &__navigation {
        @media only screen and (max-width: $bp-medium) {
            display: none !important;
        }
    }
}
