@import '../../../variables';

@mixin font-style($size, $weight, $height, $spacing, $transform) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
    text-transform: $transform;
}

.H1 {
    @include font-style(3.5rem, var(--font-bold), 3.625rem, 2px, uppercase);

    @media only screen and (max-width: $bp-small) {
        @include font-style(
            2.25rem,
            var(--font-bold),
            2.5rem,
            1.5px,
            uppercase
        );
    }
}

.H2 {
    @include font-style(2.5rem, var(--font-bold), 2.75rem, 1.5px, uppercase);

    @media only screen and (max-width: $bp-small) {
        @include font-style(1.75rem, var(--font-bold), auto, 1px, uppercase);
    }
}

.H3 {
    @include font-style(2rem, var(--font-bold), 2.25rem, 1.15px, uppercase);
}

.H4 {
    @include font-style(1.75rem, var(--font-bold), 2.375rem, 1.75px, uppercase);
}

.H5 {
    @include font-style(1.5rem, var(--font-bold), 2.06rem, 1.7px, uppercase);
}

.H6 {
    @include font-style(1.125rem, var(--font-bold), 1.5rem, 1.3px, uppercase);
}

.Paragraph {
    @include font-style(0.9375rem, var(--font-extraLight), 1.5625rem, 1px, 0);
    color: var(--color-border);
}

.Overline {
    @include font-style(
        0.875rem,
        var(--font-medium),
        1.1875rem,
        1px,
        uppercase
    );
}

.SubTitle {
    @include font-style(
        0.875,
        var(--font-extraLight),
        1.5625rem,
        10px,
        uppercase
    );
}

.OrangeColor {
    color: var(--color-orange-dark);
}

.WhiteColor {
    color: var(--color-white-700);
}
